header {
  padding: 25px 15px;

  .top-header {

    .top-leftbar {
      .social-list {

        li {
          display: inline-block;

          a {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $scendary_color;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            color: $white_color;
            transition-duration: .3s;
            border: 1px solid $scendary_color;

            &:hover, &:focus {
              background-color: transparent;
              border: 1px solid $scendary_color;
              color: $scendary_color;
            }
          }
        }
      }
    }

    .top-rightbar {
      text-align: right;

      ul {
        padding: 0px;
        margin: 0px;

        li {
          margin-left: 15px;

          a {
            font-size: 16px;
            font-family: 'Arimo', sans-serif;
            padding: 10px 0px;
            color: $lowblack;

            &:hover {
              text-decoration: none;
            }

            .search-bar {
              background-color: $scendary_color;
              padding: 5px 10px;
              color: $white_color;
              border-radius: 5px;

              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .navbar-header {

    .navbar {
      padding: 0;

      .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin:0 auto;

        img {
          width: 25%;
        }
      }

      .leftbar-content {
        border-top: 2px solid $primary_color;

        .navbar-nav {
          z-index: 99;
          position: relative;
        }

        .nav-item {
          margin-left: 15px;

          a {
            font-size: 16px;
            font-family: 'Arimo', sans-serif;
            padding: 10px 0px 0;
            color: $lowblack;
            transition-duration: .3s;

            &:hover {
              color: $primary_color-text;
            }
          }

          .dropdown-toggle::after {
            margin-left: 0.15em;
            vertical-align: 0.15em;
          }

          .dropdown-menu {
            padding: 0px;
            min-width: 190px;
            border: 1px solid rgba($color_gray,1);
            border-radius: 0px;
            left: 0px;

            li {
              border-bottom: 1px solid $color_gray;
              padding: 10px 15px;

              &:last-child {
                border-bottom: none;
              }

              &:hover, &:active, &:focus {
                background-color: $color_gray;
                color: $lowblack;
              }
            }

            .dropdown-submenu {
                position: relative;

                .dropdown-menu {
                  top: 0px;
                  left: 100%;
                  margin-top: 0px;
                  margin-left: 0px;
                  border-radius: 0px;

                  a {
                    text-align: left;
                    padding: 15px 10px;

                    &:after {
                      display: none;
                    }

                    &:hover, &:active, &:focus {
                      text-decoration: none;
                      background-color: transparent;
                    }

                    img {
                      display: inline-block;
                      height: 25px;
                      float: left;
                      margin: 0 15px 0 0;
                    }
                  }

                  .wlp-menu {
                    background-color: $primary_color;
                    a {

                      color: $white_color;
                    }
                  }
                }

                &:hover {

                  .dropdown-menu {
                    display: block;
                  }
                }

                a {
                  padding: 5px 10px 5px 0;
                  font-size: 12px;
                  text-transform: uppercase;
                  text-align: left;
                  color: #000;

                  &:after {
                    display: block;
                    content: " ";
                    float: right;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 5px 0 5px 5px;
                    border-left-color: #ccc;
                    margin-top: 3px;
                    margin-right: -10px;
                  }

                  &:hover, &:active, &:focus {
                    background-color: transparent;
                    color: $lowblack;
                  }
                }

                .dropdown-item.active, .dropdown-item:active {
                  background-color: $color_gray;
                  color: $lowblack;
                }
            }
          }
          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
