/*<!--=========================================
=     1:    Make Money ads            =
==========================================-->*/
.ads-page-sec {

	.top-ads-categories {
		text-align: center;
		margin: 0 0 45px;

		ul {
			padding: 0px;
			margin: 0px;

			li {

				a {
					transition-duration: .3s;

					.money-ofers {
						height: 220px;
				    width: 220px;
				    background-color: $primary_color;
				    border-radius: 50%;
				    text-align: center;
				    color: $white_color;
				    display: flex;
				    align-items: center;
				    font-family: 'Conv_TT Corals Thin-DEMO';
				    font-size: 28px;
				    justify-content: center;
					}

					&:hover, &:focus {
						text-decoration: none;
						color: $white-color;

						.money-ofers {
							background-color: $primary_color_text;
						}
					}
				}
			}
		}
	}

	.ads-desp {

		.top-heading-cover {
			margin-bottom: 27px;

			h1 {
				font-size: 48px;
				font-family: 'Conv_TT Corals Thin-DEMO';
			}
		}

		// h2 {
		// 	font-size: 48px;
		// 	margin: 0 0 18px;
		// 	text-align: center;
		// 	font-family: 'Conv_TT Corals Thin-DEMO';
		// }

		p {
			font-size: 22px;
			line-height: 44px;
			text-align: center;
			margin: 0px;

			a {
				color: $primary_color-text;
				text-decoration: underline;
			}
		}
	}

	.ads-cover-img {
		margin-top: 36px;

		.leftbarads-cover {
			margin: 0 0 36px;

			a {
				img {
					width: 100%;
				}
			}

			iframe {
				width: 100%;
				height: 210px;
			}

			.social-media-icon {
				margin: 18px 0 0;

				ul {
					margin: 0px;
					padding: 0px;
					text-align: center;

					li {
						margin-left: 5px;

						a {

							img {
								width: 100%;
							}
						}

						&:first_child {
							margin-left: 0px;
						}
					}
				}
			}
		}
	}

	.exclusive-cover {
		margin: 36px 0 0;
		
		.exclusive-img-cover {
			margin: 0 0 36px;
		}

		.exclusive-btn-cover {

			.btn-joinnow {
				background-color: $primary_color;
				border-radius: 15px;

				&:before {
					background-color: $primary_color-text;
					border-radius: 15px;
				}
			}
		}
	}
}
