.click2-win-sec {

	.click2win-desp {
		margin: 27px 0 0;

		p {
			font-size: 18px;
			line-height: 36px;
			text-align: center;
			margin-bottom: 0px;

			a {
				color: $primary_color-text;
				text-decoration: underline;
			}
		}
	}

	.click2win-hardcash {
		margin: 54px 0 0;

		.hardcash-desp {

			h3 {
				font-family: 'Conv_TT Corals Thin-DEMO';
				font-size: 36px;
				margin: 0;
				text-align: center;
				border-bottom: 2px solid $primary_color;
				padding-bottom: 18px;
			}
		}

		.click2win-hardcash-types {
			margin: 36px 0 0;

			.hardcash1 {

				h4 {
					font-size: 48px;
					color: $primary_color-text;
					margin: 0 0 18px;
					font-family: 'Conv_TT Corals Thin-DEMO';
				}

				h5 {
					font-size: 20px;
					margin: 0 0 18px;
					font-family: 'Conv_TT Corals Thin-DEMO';
				}

				img {
					margin: 0 0 18px;
				}
				p {
					fon-size: 48px;
					margin: 0px;
					font-family: 'Conv_TT Corals Thin-DEMO';
				}
			}
		}
	}
}
