.karmora-kash-sec {

	.top-heading-cover {

		h1 {
			font-size: 36px;
		}
	}

	.karmora-kash-desp {
		margin: 36px 0;

		.flex-cover {
			height: 160px;
		}

		p {
			margin: 0px;
			font-size: 16px;
			line-height: 30px;
		}

		h2 {
			font-size: 30px;
			text-align: center;
			margin: 18px 0 0;
			font-family: 'Conv_TT Corals Thin-DEMO';
		}
	}

	.karmora-kash-ways {
		margin: 0 0 36px;
		
		.kash-ways-leftbar {

			.ways-number {
				height: 100px;
				width: 100px;
				text-align: center;
				line-height: 100px;
				color: $white_color;
				border-radius: 50%;
				font-size: 60px;
				background-color: $primary_color;
				display: inline-block;
				font-weight: bolder;
			}
		}

		.kash-ways-rightbar {
			margin: 9px 0 0;

			h3 {
				font-family: 'Conv_TT Corals Thin-DEMO';
				font-size: 30px;
				margin: 0 0 18px;
			}

			p {
				font-size: 16px;
				margin: 0px;
			}
		}

		.karmora-ways-table {
			margin-top: 36px;
		}
	}
}
