.footer {
	background-color: #eee;
	padding: 70px 0 35px;

	.footer-link-box {

		h2 {
			font-size: 16px;
			font-weight: bolder;
			color: $lowblack;
			margin: 0 0 18px;
			text-transform: uppercase;
		}

		.services-footer {
			margin: 0px;
			padding: 0px;

			li {
				margin: 0 0 5px;

				a {
					font-size: 14px;
					color: $lowblack;
					font-weight: 400;
					transition-duration: .3s;

					&:hover, &:focus {
						color: $primary_color_text;
						text-decoration: none;
					}
				}
			}
		}

		.footer-social {

			.connect-social {
				margin: 0px;
				padding: 0px;

				li {
					display: inline-block;

					a {
						height: 35px;
					    width: 35px;
					    border-radius: 50%;
					    background-color: $primary_color;
					    color: $white_color;
					    text-align: center;
					    display: inherit;
					    line-height: 35px;
					    transition-duration: .5s;

					    &:hover, &:focus {
					    	background-color: transparent;
					    	border: 1px solid $primary_color;
					    	color: $primary_color_text;
					    }
					}
				}
			}
		}

		.get-toolbar-footer {
			margin-top: 18px;

			.btn-toobar {
				font-size: 14px;
    			font-weight: 400;
    			padding: 5px 15px;
    			border-radius: 5px;
    			background-color: $primary_color;
    			color: $white_color;
    			transition-duration: .5s;
    			
    			&:hover, &:focus {
    				background-color: $primary_color_text !important;
    			}
			}

			.work-cash-back {
				@extend .btn-toobar;
				margin-top: 9px;
				padding: 5px 12px;
				font-size: 12px;
				background-color: #3462b1;

				&:hover, &:focus {
					background-color: #3462b1 !important;
				}
			}
		}
	}

	.footer-copyright {
		margin-top: 10px;
	    border-top: 1px solid #898989;
	    padding: 10px 0;

	    .allrights {

	    	P {
	    		font-size: 10px;
	    		line-height: 18px;
	    	}
	    }
	}

	.allrights-text {
		text-align: right;

		p {
			font-size: 14px;
		}
	}
}