.about-us-sec {

	.about-us-desp {
		margin: 0 0 36px;
		.top-heading-cover {
			margin: 0 0 36px;

			h1 {
				font-size: 48px;
			}
		}

		p {
			font-size: 18px;
			line-height: 30px;

			span {
				font-weight: bolder;
				font-size: 20px;
			}
		}
	}
	.graphic-info {

		.top-heading-cover {

			h1 {
				font-size: 36px;
			}
		}
	}
}
