// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors

$primary_color: #f05398;
$primary_color-text: #CD1D65;
$scendary_color: #f69747;
$scendary_hover_color: #F68121;
$white_color: #ffffff;
$triple_e_color: #eeeeee;
$black_color: #000;
$lowblack: #333333;
$color_gray: #cdcdcd;
$blue_color: #a6e6e3;
