.about-us-sec {

	.about-us-desp {
		margin: 0 0 36px;
		.top-heading-cover {
			margin: 0 0 36px;

			h1 {
				font-size: 48px;
			}
		}

		p {
			font-size: 18px;
			line-height: 30px;

			span {
				font-weight: bolder;
				font-size: 20px;
			}
		}
	}

	.graphic-info {

		.top-heading-cover {

			h1 {
				font-size: 36px;
			}
		}

		.enclogy-cover {

			.encolgy-arrow {

				.enclogy-img-cover {
					position: relative;
					
					.formap {
						width: 100%;
						height: auto;
					}

					.animatingarrows {
					  animation-duration: 10s;
					  animation-name: imgAnimation;
					  animation-iteration-count: infinite;
					  animation-direction: normal;
					  animation-delay: 0s;
					  animation-timing-function: linear;
					}

					.forarrow {
				    position: absolute;
				    top: 0px;
				    left: 19px;
					}
				}
			}
		}
	}
}
