.bonus-poll-sec {

	h3 {
		font-family: 'Conv_TT Corals Thin-DEMO';
		font-size: 30px;
		text-align: center;
		margin: 0 0 36px;
	}

	.example-working {

		h2 {
			font-family: 'Conv_TT Corals Thin-DEMO';
			font-size: 48px;
			margin: 0 0 18px;
			text-align: center;
		}

		.attention-box {
			background-color: #FCF8E3;
			padding: 15px;
			border-radius: 15px;
			margin: 0 0 36px;

			p {
				margin-bottom: 0px;
			}
		}

		.bouns-poll-list {
			padding: 0px;
			margin: 0px;

			li {
				font-size: 16px;
				line-height: 30px;
				font-family: 'Arimo', sans-serif;
				padding-left: 0;
				margin-bottom: 18px;

				span {
					display: inline-block;
					vertical-align: middle;
					padding-left: 15px;
				}

				&:before {
					width: 20px;
			    height: 20px;
			    display: inline-block;
			    content: '';
			    background-color: $primary_color;
			    border-radius: 50%;
			    vertical-align: middle;
			    margin: 0 .2em 0 -1.5em;
			    vertical-align: middle;
				}
			}
		}
	}
}
