.user-dashboard {
	padding-bottom: 0px;

	.dashboard-heading {
		margin: 0 0 36px;

		h1 {
			font-size: 48px;
			margin: 0px;
			text-align: center;
			font-family: 'Conv_TT Corals Thin-DEMO';

			img {
				margin-right: 15px;
			}
		}
	}

	.user-dashboard-menu {

		ul {
			text-align: center;
			margin: 0px;
			padding: 0px;

			li {
				border: 1px solid $color_gray;
				border-bottom: none;
				display: inline-block;
				margin-right: -4px;
				border-right: 0px;
				padding: 10px 12px;
				transition-duration: .3s;
				cursor: pointer;

				a {
					font-size: 14px;
					color: $lowblack;

					&:hover {
						text-decoration: none;
					}
				}

				&.active {
					background-color: $primary_color;

					a {
						color: $white_color;
					}
				}

				&:hover, &:focus {
					background-color: $primary_color;

					a {
						color: $white_color;
					}
				}

				&:last-child {
					border-right: 1px solid $color_gray;
				}
			}
		}
	}

	.dashboard-bottombar {
		background-color: $primary_color;
		height: 45px;
		line-height: 45px;

		.cover-dashbord {

			span {
				color: #fff;

				strong {
					margin-right: 15px;
				}
			}
		}
	}
}
