/*<!--=========================================
=     1:    Not login home page            =
==========================================-->*/

.bto-shopping {

	h1 {
		font-size: 48px;
		text-align: center;
		font-family: 'Conv_TT Corals Thin-DEMO';
		margin-bottom: 36px;
	}

	.slider-cover {
		width: 100%;
	    background-size: cover;
	    height: 600px;
	    background-image: url(../images/best-thing-shopping.jpg);
	}

	.premier-casual-cover {
		padding: 45px 0;
		border-bottom: 3px solid $primary-color;

		ul {

			li {
				display: inline-block;
				margin-left: 175px;

				a {
					transition-delay: 0.1s;

					.premier-cover {
						height: 300px;
						width: 300px;
						background-color: $scendary_color;
						border-radius: 50%;
						text-align: center;
						color: $white-color;
						padding: 75px 0;
						font-family: 'Conv_TT Corals Thin-DEMO';
						font-size: 48px;
						border: 5px solid $scendary_color;
						transition-duration: .3s;
					}

					&:hover {
						color: $white-color;
						text-decoration: none;

						.premier-cover {
							border-color: $scendary_color;
							background-color: transparent;
						}
					}
				}

				&:first-child {
					margin-left: 0px;
				}
			}
		}
	}

	.preimer-shoper-cover {
		padding: 45px 0;
		border-bottom: 3px solid $primary_color;

		.preimer-shoper-desp {

			h2 {
				font-size: 48px;
				letter-spacing: 1px;
				margin: 0 0 18px;
				text-align: center;
				font-family: 'Conv_TT Corals Thin-DEMO';
			}

			p {
				font-size: 16px;
				line-height: 30px;
				text-align: center;
				margin: 0px;
				padding: 0 100px;

				span {
					color: $primary_color-text;
					font-weight: bold;
				}
			}
		}

		.premier-shopper-lists {
			margin: 36px 0 0;

			ul {
				padding: 0px;
				margin: 0px;
				text-align: center;

				li {
					display: inline-block;
					margin-left: 30px;

					a {
						transition-duration: .3s;

						.money-ofers {
							height: 220px;
							width: 220px;
							background-color: $primary-color;
							border-radius: 50%;
							text-align: center;
							color: $white-color;
							display: flex;
							align-items: center;
							font-family: 'Conv_TT Corals Thin-DEMO';
							font-size: 36px;
							justify-content: center;
						}

						&:hover, &:focus {
							text-decoration: none;
							color: $white-color;

							.money-ofers {
								background-color: $primary_color_text;
							}
						}
					}

					&:first-child {
						margin-left: 0px;
					}
				}
			}
		}

		.save-money {
			display: inline-block;
			margin: 36px 0 0;

			h3 {
				font-size: 36px;
				text-align: center;
				letter-spacing: 1px;
				margin: 0 0 27px;
				font-family: 'Conv_TT Corals Thin-DEMO';
			}

			.save-money-cover {

				&:after {
					height: calc(100% - 30px);
				    width: calc(100% - 60px);
				    content: "";
				    position: absolute;
				    top: 15px;
				    left: 30px;
				    background: transparent;
				    border: 3px solid $primary-color;
				    pointer-events: none;
				    transition-duration: .3s;
				}

				img {
					width: 100%;
					height: auto;
				}
			}

			.offer-lists-cover {

				.offers-list-li {
					padding: 0px;
					margin: 0px;

					li {
						font-size: 16px;
					    line-height: 30px;
					    font-family: 'Arimo', sans-serif;
					    padding-left: 0;
					    margin-bottom: 18px;

					    span {
							display: inline-block;
						    vertical-align: middle;
						    padding-left: 15px;
					    }

					    &:before {
					    	width: 20px;
						    height: 20px;
						    display: inline-block;
						    content: '';
						    background-color: $scendary_color;
						    border-radius: 50%;
						    vertical-align: middle;
						    margin: 0 .2em 0 -1.5em;
						    vertical-align: middle;
					    }
					}
				}
			}

			.video-cover {
				    text-align: center;
    				margin: 36px 0 0;

				iframe {
				    border: 1px dashed #ababab;
				    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ababab, 0 0 0 10px #fff, 0 0 2px 10px #d5d5d5;
				    padding: 5px;
				}
			}

			.join-cover-btn {
				margin: 150px 0 0;
			}
		}


		#cash-prizes {

			.btn-joinnow {
				margin: 50px 0;
			}
		}
	}

	.casual-shopper-cover {
		margin: 45px 0;

		.casual-shopper-desp {

			h2 {
				font-size: 48px;
				letter-spacing: 1px;
				margin: 0 0 18px;
				text-align: center;
				font-family: 'Conv_TT Corals Thin-DEMO';
			}

			p {
				font-size: 16px;
				line-height: 30px;
				text-align: center;
				margin: 0px;
				padding: 0 170px;
			}
		}

		.casual-shopper-intro {
			margin: 36px 0;
			display: inline-block;

			.casual-leftbar {

				h3 {
					font-size: 36px;
					letter-spacing: 1px;
					margin: 0 0 27px;
					text-align: center;
					font-family: 'Conv_TT Corals Thin-DEMO';
				}

				p {
					font-size: 18px;
					line-height: 36px;
					text-align: center;
				}
			}

			.casual-rightbar {

				&:after {
					height: calc(100% - 30px);
				    width: calc(100% - 60px);
				    content: "";
				    position: absolute;
				    top: 15px;
				    left: 30px;
				    background: transparent;
				    border: 3px solid $primary_color_text;
				    pointer-events: none;
				    transition-duration: .3s;
				}

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.membership-compare {
			margin: 0 0 45px;

			.btn-all-store {
				margin: 9px 0 0;
			}
		}

		.join-as-cover {

			.btn-joinnow {
				padding: 12px 30px;
				font-size: 36px;
			}
		}
	}
}