/*<!--=========================================
	=     1:    Slider Section           =
==========================================-->*/
.slider-section {
	padding-top: 50px;

	.home-page-slider {

		.slider-cover {

			img {
				width: 100%;
				height: 100%;
			}
		}

		button, html [type="button"], [type="reset"], [type="submit"] {
			display: none !important;
		}

		.slick-dots {
			margin: 15px 0 0;
			padding: 0px;
			text-align: center;

			li {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: $scendary_color;
				border-radius: 50%;
				margin-left: 15px;
				cursor: pointer;
				opacity: 0.55;

				&:first-child {
					margin-left: 0px;
				}
			}

			.slick-active {
				opacity: 1;
			}
		}
	}
}


/*<!--=========================================
	=     2:   login Page Section           =
==========================================-->*/
.login-page-sec {
	padding-bottom: 45px;

	.login-page-categories {
		text-align: center;
		margin-bottom: 70px;

		ul {
			margin: 0px;
			padding: 0px;

			li {

				a {
					transition-duration: .3s;

					.money-ofers {
						height: 220px;
					    width: 220px;
					    background-color: $primary_color;
					    border-radius: 50%;
					    text-align: center;
					    color: $white_color;
					    display: flex;
					    align-items: center;
					    font-family: 'Conv_TT Corals Thin-DEMO';
					    font-size: 28px;
					    justify-content: center;
					}

					&:hover, &:focus {
						text-decoration: none;
						color: $white-color;

						.money-ofers {
							background-color: $primary_color_text;
							// box-shadow: inset 0px 0px 0px 10px $lowblack;
						}
					}
				}
			}
		}
	}

	.login-cover {
		margin-bottom: 54px;

		.flex-cover {
			height: 500px;
		}

		.leftbar-login {
			height: 500px;
			width: 500px;
			margin: 0 auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.rightbar-login {

			h2 {
				font-size: 54px;
				font-family: 'Conv_Milkshake';
				margin: 0 0 25px;
				text-align: center;
			}

			p {
				font-size: 22px;
				line-height: 40px;
				text-align: center;
				padding: 0 50px;
			}
		}

		.buttons-login-cover {
			text-align: center;
			margin: 54px 0 0;

			.btn-joinnow {
				padding: 0 30px;
				height: 100px;
				display: inline-flex;
				align-items: center;
				background-color: $primary_color !important;

				&:before {
					background-color: $primary_color_text;
				}
			}

			.mr-150 {
				margin-right: 150px;
			}
		}
	}
}
