.karmora-table {

	table {

		thead {
			background: $primary_color;
			color: $white_color;
			font-size: 16px;

			tr {

				th {
					padding-left: 15px;
				}
			}
		}

		tbody {

			tr {

				td {
					padding-left: 15px;
				}
			}
		}
	}
}


// My Community Table
.community-table {
	table {

		thead {

			tr {

				th {
					width: auto;
					padding-left: 15px;
				}
			}
		}

		tbody {

			tr {

				td {
					padding-left: 15px;
				}
			}
		}
	}
}
