/* Casual Signup */
.casual-signup-sec {

  h1 {
    font-family: 'Conv_TT Corals Thin-DEMO';
    font-size: 48px;
    margin: 0 0 36px;
    text-align: center;
  }
}

.signup-cover {

  h2 {
    font-family: 'Conv_TT Corals Thin-DEMO';
    background-color: $primary_color;
    color: $white_color;
    padding: 15px;
    font-size: 36px;
    margin: 0px;
  }

  .join-now-step-one {
    margin: 36px 0;

    h4 {
      font-family: 'Arimo', sans-serif;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin: 0px;
    }

    .join-now-step-cover {
      margin: 18px 0;
      position: relative;
      border-bottom: 1px solid $color_gray;
      box-shadow: 0 0 5px 0 $color_gray;
      height: 100%;
      margin-bottom: 18px;
      padding: 15px;

      .form-group {

        .input-field-label {
          font-weight: bolder;
        }

        .form-control {
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          font-size: 14px;
          border-radius: 0px;
        }

        .error-filed {
          background-color: red;
          color: $white_color;
          font-size: 16px;
          text-align: center;
          width: 80%;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          display: none;
        }

        .member-filed {
          background-color: $color_gray;
          font-size: 16px;
          text-align: center;
          width: 80%;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          color: $lowblack;
          display: none;
        }
      }

      p {
        font-size: 16px;
        line-height: 30px;
        margin: 0px;

        a {
          color: $primary_color-text;
          text-decoration: underline;
        }
      }

      .order-leftbar {

        .payment-icons {
          margin-bottom: 27px;
        }

        .total-charges {
          margin: 36px 0;

          h3 {
            font-size: 18px;
            margin: 20px 0 0;
            font-weight: bolder;
          }
        }

        .privacy-policy-cover {
          margin: 0 0 36px;
          a {
            font-size: 16px;
            color: $primary_color-text;
            text-decoration: underline;
            display: block;
            margin-left: 50px;
          }
        }

        .paynow {

          .btn-joinnow {
            background-color: $primary_color;

            &:before {
              background-color: $primary_color-text;
            }
          }

          ul {

            li {

              a {
                color: $lowblack;

                img {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }

      .order-rightbar {

        h4 {
          padding: 10px;
          margin: 0px;
          background: $lowblack;
          color: $white_color;
          font-size: 18px;
          text-align: left;
        }

        table {
          font-size: 14px;

          tbody {

            tr {

              td {

                .form-control {
                  background-color: transparent;
                  padding: 0;
                  width: 100%;
                  font-size: 14px;
                  border: none;
                }
              }
            }
          }
        }

        .make-money-cover {
          text-align: center;

          h3 {
            font-size: 24px;
            font-family: 'Conv_TT Corals Thin-DEMO';
            margin: 18px 0;
            text-align: left;
          }

          p {
            font-size: 16px;
            line-height: 30px;
            text-align: left;

            a {
              color: $primary_color-text;
              text-decoration: underline;
            }
          }
        }
      }

      &:before {
        border-bottom: 1px solid $color_gray;
        bottom: 2px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      &:after {
        border-bottom: 1px solid $color_gray;
        bottom: 5px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  .signup-btn {

    .btn-joinnow {
      background-color: $primary_color;

      &:before {
        background-color: $primary_color-text;
      }
    }
  }
}


/* Premier Shopper */
.premier-signup-sec {

  h1 {
    font-family: 'Conv_TT Corals Thin-DEMO';
    font-size: 48px;
    margin: 0;
    text-align: center;
  }

  .premier-desp1 {
    font-size: 24px;
    text-align: center;
    margin: 9px 0 36px;
    font-family: 'Conv_TT Corals Thin-DEMO';
  }

  .exclusive-products {
    margin: 36px 0 9px;

    .exclusive-cover {
      border: 1px solid $color_gray;
      text-align: center;
      padding: 15px;
      border-left: 0px;
      margin-bottom: 27px;

      h5 {
        font-size: 18px;
        margin: 0 0 10px;
        text-align: center;
      }

      .product-radio {
        margin-top: 0px;
        height: 15px;
        width: 15px;
      }

      .img-cover-exclusive {

        img {
          height: 280px;
        }
      }

      .exclusive-dep {

        h3 {

          a {
            font-size: 18px;
            font-weight: bolder;
            color: $primary_color-text;
            text-decoration: underline;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            margin: 10px 0;
          }
        }

        p {
          font-size: 16px;
          margin: 0px;
          text-align: left;

          span {
            float: right;
          }
        }
      }
    }

    .bd-left {
      border-left: 1px solid $color_gray;
    }
  }
}
