.modal {

	.model-karmora {
		max-width: 800px;
		margin-top: 100px;
	}

	.modal-dialog {

		.modal-content {
			border-radius: 0px;
			padding: 25px;
			border: 5px solid $color_gray;
			border-radius: 0px;
			box-shadow: inherit;

			.modal-header {
				padding: 0px;
				border-bottom: 0px;

				button.close {
					position: absolute;
					right: -25px;
					z-index: 5;
					top: -25px;
					opacity: 1;
					cursor: pointer;

					span {
						background-color: $scendary_color;
						width: 50px;
						height: 50px;
						line-height: 50px;
						padding: 0px;
						display: inline-block;
						border-radius: 50%;
						text-align: center;
						color: $white_color;
					}

					&:focus {
						outline: inherit;
					}
				}
			}

			.modal-body {
				padding: 0px;
				z-index: 2;

				.model-cover {

					.ingredient-cover {

						img {
							width: 100%;
							border: 1px solid $color_gray;
						}
					}
				}
			}
		}
	}
}