.user-profile {

  h3 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 36px;
    font-family: 'Conv_TT Corals Thin-DEMO';
    border-bottom: 2px solid $primary_color;
    padding-bottom: 9px;
    display: inline-block;
  }

  .profile-cover {
    position: relative;
    border-bottom: 1px solid $color_gray;
    box-shadow: 0 0 5px 0 $color_gray;
    margin-bottom: 36px;
    padding: 15px;

    .form-group {
      margin-bottom: 18px;

      label {
        font-size: 14px;
      }

      .form-control {
        height: 40px;
        border: 1px solid $color_gray;
        padding: 0 0 0 10px;
        border-radius: 0px;
        font-size: 14px;
      }
    }

    .profile-btn-group {
      margin: 36px 0 30px;

      .btn-joinnow {
        background-color: $primary_color;
        font-size: 24px;

        &:before {
          background-color: $primary_color-text;
        }
      }
    }

    &:before {
      border-bottom: 1px solid $color_gray;
      bottom: 2px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:after {
      border-bottom: 1px solid $color_gray;
      bottom: 5px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    p {

      a {
        color: $primary_color-text;
        text-decoration: underline;
      }
    }
  }

  .manage-emails {
    height: 300px;

    .form-group {

      label {
        margin-bottom: 18px;
      }
    }
  }

  .w9-form {
    height: 530px;
  }
}

.adtracker-sec {

  h4 {
    font-family: 'Arimo', sans-serif;
    margin: 0 0 36px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
  }
}
